@media (max-width: 967px) {

    .secondaryText {
        margin: 10vh 10vh;
    }
}



@media (max-width: 767px) {
    .member_list {
        max-width: 50vw;
    }

    .search_bar {
        max-width: 50vw;
    }

    .header {
        font-size: 11px;
    }

    .secondaryText {
        margin: 10vh 10vh;
    }
}

@media (max-width: 366px) {
    .member_list {
        max-width: 50vw;
    }

    .search_bar {
        max-width: 50vw;
    }

    .header {
        font-size: 8px;
    }

    .secondaryText {
        margin: 10vh 1vh;
    }
}